*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inknut Antiqua', serif;
    font-size: 1rem;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}