.main{
    .contenedor{
        overflow: visible;
    }
    .acerca-de{
        text-align: center;
        .foto{
            margin-top: -85px;
            img{
                vertical-align: top;
                border-radius: 50%;
                border: 2px solid rgba(black, 0.6);
            }
        }
        .texto-acerca-de{
            font-weight: 600;
            font-size: 1rem;
            line-height: 30px;
            margin: 40px auto 50px auto;
            h2{
                margin-bottom: 30px;
                font-size: 2rem;
                color: rgb(46, 107, 223);
            }
            p{
                font-size: .9rem;
                font-weight: 400;
            }
        }
    }
    .proyectos{
        background-color: rgb(242, 242, 242);
        padding: 30px 0 20px 0;
        h3{
            margin-bottom: 40px;
            font-size: 2rem;
            color: rgba(13, 75, 191, 0.882);
            text-align: center;
        }
        .contenedor-galeria{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .galeria{
                width: 24%;
                .imagenes{
                    width: 100%;
                    margin-bottom: 10px;
                    background-color: rgb(230, 230, 230);
                    img{
                        width: 100%;
                        vertical-align: top;
                    }
                }
                .descripcion{
                    text-align: center;
                }
                p{
                    font-size: 1.2rem;
                    margin-bottom: 40px;
                }
            }           
        }
    }
    .contacto{
        padding: 60px 0;
        .contenedor{
            width: 80%;
        }
        h3{
            margin-bottom: 30px;
            font-size: 2rem;
            text-align: center;
            color: rgb(46, 107, 223);
        }
        form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            input[type="text"],
            input[type="email"],
            textarea{
                display: inline-block;
                border-bottom: 2px solid #ccc;
                border-radius: 5px;
                padding: 5px 15px;
                font-family: 'Inknut Antiqua', serif;
            }
            input[type="text"],
            input[type="email"]{
                width: 49%;
                margin-bottom: 15px;
            }
            textarea{
                min-width: 100%;
                max-width: 100%;
                max-height: 88px;
                min-height: 88px;
                line-height: 25px;
                margin-bottom: 40px;
            }
            input[type="submit"]{
                width: 140px;
                border: none;
                border: 1px solid #0089e0;
                padding: 15px;
                background: #0089e0;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                margin: auto;
                border-radius: 5px;
                transition: all .5s ease;
                &:hover{
                    background: white;
                    color: #0089e0;
                }
            }
        }
    }
}